*
!Snakefile
!samples.csv
!config.yaml
!lib
!lib/**
!schemas
!schemas/**
!cluster.json
!envs
!envs/**
!LICENSE
!README.md
!rules
!rules/**
!assets
!assets/**
!.gitignore
!.travis.yml
!.test
!.test/**
